@font-face 
{
    font-family: digit7; 
    src: url(/font/digital-7-webfont.woff2);
}

@font-face 
{
    font-family: juke; 
    src: url(/font/The_Juke_Box-FFP.ttf);
}

body
{
    background-image: url("/img/wall.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-repeat: repeat-y;
    padding-top: 20px;
}



main
{
    margin:auto 0;
    text-align: center;
    width: 1170px;
    height : 720px;
    /* background: #f7df90; */
    background-image:url("/img/curtain_bg.jpg") ;
    background-size:1170px 720px;
    border: 10px solid rgb(231, 188, 123); 
    
    --angle: 0deg;
    border-image: conic-gradient(from var(--angle), red, magenta, blue, aqua, blue, magenta, red) 1;
    animation: 4s rotate linear infinite;

    
}



@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


#jukeTitle
{
    font-family: juke;
    color:rgb(255, 196, 0);
    margin-top: -4px;
    text-shadow: 0 1px 0 rgb(36, 36, 36),
               0 2px 0 #333333,
               0 3px 0 rgb(41, 41, 41),
               0 4px 0 #272727,
               0 5px 0 rgb(29, 28, 28),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#tblLabels
{
    width: 1100px;
    border: 3px solid rgb(231, 188, 123);  
    margin: auto; 
    padding: 20px; 
    background-color:rgba(231, 188, 123, 0.5) ;  
    
}

tr
{
    margin-left:10px;
    margin-right:10px;
}

.selectorContainer
{
    float: left;
    text-align: center;
    margin-left: 18px;
}

.selector
{
    width:50px;
    border: 1px solid rgb(255, 94, 1);
    text-align: center;
    margin-top:10px;
    background: rgb(167, 22, 11);
    color:white;
}


.jb-label
{
    width: 180px;
    height: 80px;
    border: 3px solid rgb(167, 22, 11);
    margin-left: 10px;
    text-align: center;
    overflow-x: hidden;
    float:right;
    background-image: url("/img/paper.jpg");
    /*background: #fae8ad;*/
    box-shadow: 5px 5px 8px #353434; 

}

.artist
{
    width:120px;
    text-align: center;
    margin: auto;
    border: 3px solid rgb(167, 22, 11);
    background: #ebb60b;
}

.inner
{
    
    text-align: center;
    border: 3px solid rgb(167, 22, 11);
    background: rgb(167, 22, 11);
}

.arrow-right 
{
    margin-top: 2px;
    margin-left: 26px;
    float:left;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(167, 22, 11);
}
  
.arrow-left 
  {
    margin-top: -25px;
    margin-right: 26px;
    float:right;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
    border-right: 12px solid rgb(167, 22, 11); 
  }

  #playInfo
  {
      float: right;
      width: 250px;
      height: 120px;
      color:#ffeb38;
      border: 3px solid rgb(109, 2, 2);
      background: rgb(167, 22, 11);
      margin-top: -140px;
      margin-right: 78px;
  }

 #display
  {
      width: 250px;
      height: 120px;
      background: rgb(167, 22, 11);
      border: 3px solid rgb(109, 2, 2);
      margin:auto;
      margin-top: -10px;
  } 

  #display h1
  {
      margin-top:-10px;
      font-family: digit7;
      color:#ffeb38;
  }
  #info
  {
    float: left;
    width : 250px;
    height: 120px;
    color:#ffeb38;
    border: 3px solid rgb(109, 2, 2);
    background: rgb(167, 22, 11);
    margin-top: 10px;
    margin-left: 78px;
    text-align: center;
  }

#info p
{
    Margin-top: 25px;
}

#buttons
{
    
    margin-left:5px; 
    
}

#buttons button
{
margin-top:-40px;   
width:48px;
height:40px;
}

#btnSettings, #btnReset
{
    float:left;
}


/*hidden*/
select
{
    width: 250px;
}
#admin
{
    display: none;
    width: 1170px;
    text-align: center;
    margin-left: -18px;
    padding: 10px;
    background-color: rgba(100, 98, 98, 0.4) ;
    border: 1px solid rgba(231, 188, 123, 0.5);
}

h2 ,h4
{
    color:#ffeb38;
    margin: auto;
    text-align: left;
    Margin-top: 75px;
}

#audioControl
{
    color:white;
    margin-right: 200px;
}

  #addSongToLibrary ,#editSongToLibrary, #deleteSongToLibrary
{
    width:355px;
    height: 500px;
    margin :  auto;
    text-align: left;
    border: 1px solid rgba(231, 188, 123, 0.5);
    padding : 20px;
    Margin-top : 20px;
    background-color: rgba(216, 209, 209, 0.664);
    float:left;
    margin:5px;
}

#addSong 
{
    margin-top: 65px;
}

#pAdd
{
    margin-top: 65px;
}

 #editSong
{
    margin-top: 65px;
}

#selectEdit
{
    margin-top: 25px;
}



#deleteSong
{
    margin-top: 235px;
}

#selectDelete
{
    margin-top: 25px;
}


#tblAdminLabels
{
    width:1170px;
    border: 3px solid rgb(231, 188, 123);  
    margin: auto; 
    padding: 10px; 
    background-color:rgba(231, 188, 123, 0.5) ; 
    color: white;  
}

/*bootstrap*/
.btn3d 
{
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus 
{
    outline:medium none;
    -moz-outline-style:none;
}

.btn3d:active 
{
    top:9px;
}

.btn-default 
{
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
 .btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
 .btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}


 /*---flip 0.6SEC--*/

 .card-container
 {
    width: 250px;
    height: 80px;
    /* perspective: 1000px; */
   
    
 }  

 .card1
 { 
     width:100%;
     height:100%;
     transition: transform 0.6s ease-in-out;  
     transform-style: preserve-3d;
     margin-left: 10px;
     
 }

 .card2
 { 
    width:100%;
     height:100%;
     transition: transform 0.7s ease-in-out;  
     transform-style: preserve-3d;
     margin-left: 10px;
 }

 .card3
 { 
    width:100%;
     height:100%;
     transition: transform 0.8s ease-in-out;  
     transform-style: preserve-3d;
     margin-left: 10px; 
 }

 .card4
 { 
    width:100%;
     height:100%;
     transition: transform 0.9s ease-in-out;  
     transform-style: preserve-3d;
     margin-left: 10px; 
 }

 .card5
 { 
    width:100%;
     height:100%;
     transition: transform 1s ease-in-out;  
     transform-style: preserve-3d;
     margin-left: 10px; 
 }


 .front
 {
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
 }

 .back
{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
} 




